:root {
  --colour-primary: #4c4f78;
  --colour-dark: #3b3558;
  --colour-light: #d6e0ed;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: var(--colour-light);
}

header {
  background: var(--colour-dark);
  padding: 16px 24px;
  border-radius: 12px;
  font-size: 1.25rem; /* 20px */
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 16px;
  left: 24px;
  right: 24px;
  z-index: 1;

  a {
    color: var(--colour-light);
  }
}

h1 {
  color: var(--colour-primary);
  font-size: 3.5rem;
  padding: 96px 24px 48px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#about {
  display: flex;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;

  figure {
    padding: 0 64px 0 0;
    flex: 1;
    margin: 0;
  }

  img {
    border: solid 2px var(--colour-dark);
    transform: rotate(-3deg);
    border-radius: 12px;
  }

  div {
    flex: 1;
  }
}

img {
  width: 100%;
}

#projects {
  background: var(--colour-primary);
  color: var(--colour-light);
  
  article {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
  }

  figure, div {
    flex: 1;
  }

}

.link-button {
  background: var(--colour-light);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  color: var(--colour-primary);
  text-decoration: none;
  font-weight: bold;
}

.link-button:hover {
  background: var(--colour-dark);
  color: var(--colour-light);
}

@media screen and (min-width: 720px) {
  #projects {
    article {
      flex-direction: row;
    }
  }
}
